<div class="container">
    <div class="row mt-4">
        <div class="col-sm-12 col-xs-12 mt-2">
            <ul class="breadcrumb">
                <li><a href="#/dashboard">Dashboard</a></li>
                <li><a href="#/packagemanagement">Package Management</a></li>
                <li>Package Details</li>
                <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i><strong (click)="goBack()"
                    class="pointer">Go Back</strong>
            </ul>

            <div class="col-sm-12 mt-0 text-center ">
                <h5 class="font-weight-bold border-bottom pb-2 pl-5" *ngFor="let list of allpackage"> Package Name : {{list.name}}  &nbsp;&nbsp;&nbsp;&nbsp; {{list.price}} &nbsp;&nbsp;&nbsp;&nbsp; Duration (In Month) : {{list.duration_in_month}}</h5>
              </div>

            <div class="card card-primary card-outline">
                <div class="card-body table-responsive p-0 pb-2">
                    <table class="table table-bordered  text-center table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>School Admin</th>
                                <th>Student Panel</th>
                                <th>Teacher Panel</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let list of allpackage" style="text-align:center">
                                <td *ngFor="let item of list['module_type']">{{item.name}}</td>
                                <td>{{list.module_type.name}}</td>
                                <td>Manage Routine</td>
                            </tr>

                        </tbody>
                    </table>
                    <!-- <mat-paginator #paginator [length]="totalItems" [pageSize]="pageSize" [disabled]="totalItems<5"
          [pageSizeOptions]="pageSizeOption" [showFirstLastButtons]="true" (page)="onChangePage($event)">
        </mat-paginator> -->
                </div>
            </div>
        </div>
    </div>
</div>