<div class="container">
<div class="row mt-4">
    <div class="col-sm-12 col-xs-12 mb-5">
      <ul class="breadcrumb">
        <li><a href="#/dashboard">Dashboard</a></li>
        <li>Package Management</li>
        <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i><strong (click)="goBack()"
          class="pointer">Go Back</strong>
      </ul>
  
      
  <div class="card card-primary card-outline p-3">
    <div class="col-sm-12 col-xs-12 d-flex justify-content-end">
        <a type="button" (click)="FormDownload()" class="btn btn-info mt-1 pl-3 pr-3 ">Download</a>&nbsp;&nbsp;
      <a type="button" (click)="btnBack_click()" class="btn btn-warning mt-1 pl-3 pr-3">Add Package</a>
    </div>
  
    <div class="row pb-4">
  
      <!-- <div class="col-sm-6 col-xs-12"> -->
        <!-- <div class="form-group">
          <label>Package Name :</label>
          <input type="text" onkeypress="return (event.charCode > 64 && 
          event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)" placeholder="Enter Package Name" class="form-control" formControlName="etype">
        </div> -->
      <!-- </div> -->
  
  
<!--   
      <div class="col-sm-2 col-xs-12 ">
        <button type="button" class="btn btn-success mt-4 pl-3 pr-3">Search</button>
    </div>
   -->

    <div class="col-sm-3 col-xs-12">
      <div class="form-group">
        <h5>Package Name</h5>
        <select class="form-control" [(ngModel)]="packagename">
          <option value="">Select Package</option>
          <option *ngFor="let package of allpackage" value={{package.id}}>{{package.name}}
          </option>
        </select>
      </div>
    </div>

    <div class="col-sm-3 col-xs-12 pt-4">
      <button type="button" class="btn btn-success mt-1 pl-3 pr-3" (click)="onSearch()" >Search</button>
    </div>
  
  
      <div class="col-sm-12 col-xs-12 mt-5">
        <div class="card card-primary card-outline">
          <div class="card-body table-responsive p-0 pb-2">
            <table class="table table-bordered  text-center table-hover text-nowrap">
              <thead>
                <tr>
                  <th style="width: 90px;">S.No</th>
                  <th>Package Name</th>
                  <th>License Key</th>
                  <th>Price</th>
                  <th>Total Amount</th>
                  <th>Duration ( In Month )</th>
                  <th >Action</th>
                </tr>
              </thead>
              <tbody>
                <div *ngIf="allpackage.length > 0"></div>
                <tr style="text-align:center" *ngFor="let package of allpackage| paginate: { itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: totalItems}; let i=index">
                  <td class="number">{{pageSize *(page-1)+i+1}}</td>
                  <td>{{package.name}}</td>
                  <td>{{package.license_key}}</td>
                  <td>Rs.{{package.price}}</td>
                  <td>Rs.{{package.total_amount}}</td>
                  <td>{{package.duration_in_month}}</td>
                  <td >
                    <a title="Details" (click)="viewSchool(package.id)"><i
                        class="fas fa-info-circle"></i></a>&nbsp;&nbsp;
                        <a title="Edit" (click)="editPackage(package.id)"><i
                          class="fas fa-pencil-alt"></i></a>&nbsp;&nbsp;
                        <a title="Delete" (click)="delete_package(package.id)"><i
                         class="fas fa-trash-alt"></i></a></td>
                </tr>
                <div class="pl-2 pt-2" *ngIf="allpackage.length == 0">
                  No record.
                </div>
              </tbody>
            </table>
            <div class="d-flex justify-content-end">   
              <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
         </div>
            <!-- <mat-paginator #paginator [length]="totalItems" [pageSize]="pageSize" [disabled]="totalItems<5"
              [pageSizeOptions]="pageSizeOption" [showFirstLastButtons]="true" (page)="onChangePage($event)">
            </mat-paginator> -->
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
  </div>




  <ng-template #editModal let-modal>

    <div class="modal-content">
      <div class="modal-header  pb-2 pt-2 mb-0">
        <h4 class="modal-title" id="modal-basic-title">Package Details</h4>
        <div type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </div>
      </div>
  
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-xs-12 card card-primary card-outline">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th class="w-25 thd" >Package Name </th>
                  <th class="w-15 thd">Duration (In Months) </th>
                  <th class="w-25 thd">Price </th><br>
                  <th class="w-15 thd">license key </th>
                    <th class="w-25 thd">Total Amount </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of singlePackageData" style="text-align:center">
                  <td>{{i.name}}</td>
                  <td>{{i.duration_in_month}}</td>
                  <td> Rs. {{i.price}}</td><br>
                  <td>{{i.license_key}}</td>
                    <td>Rs. {{i.total_amount}}</td>
                </tr>
                </tbody>
            </table>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-12 col-xs-12 card card-primary card-outline">
                        <h5 class="mt-3"><strong><u> Modules List </u></strong></h5>

          <div class="col-sm-12 mt-0">
              <hr>
              <h5 class="w-100 mb-3"><b><u>School Admin Panel: </u></b></h5>
              <div class="row pl-3 pr-3 school-admin_module">
                <div class="form-check-inline col-sm-4 col-xs-12 mb-1" *ngFor="let i of SchoolAdminData"><i class="fa fa-star" aria-hidden="true" style='color: rgb(80, 233, 244)'></i>&nbsp;  {{i.name}}
                </div>
                </div>

              <hr>
              <h5 class="w-100 mb-3"><b><u>Student Panel: </u></b></h5>
              <div class="row pl-3 pr-3 school-admin_module">
                <div class="form-check-inline col-sm-4 col-xs-12 mb-1" *ngFor="let j of StudentModuleData"><i class="fa fa-star" aria-hidden="true" style='color: rgb(80, 233, 244)'></i>&nbsp;  {{j.name}}
                </div>
                </div>   

              <hr>
              <h5 class="w-100 mb-3"><b><u>Teacher Panel: </u></b></h5>
              <div class="row pl-3 pr-3 school-admin_module">
                <div class="form-check-inline col-sm-4 col-xs-12 mb-1" *ngFor="let k of TeacherModuleData"><i class="fa fa-star" aria-hidden="true" style='color: rgb(80, 233, 244)'></i>&nbsp;  {{k.name}}
                </div>
          </div>
              </div>
              </div>
          </div>
          </div>
          </div>
      
  </ng-template>
