.modal-lg {
    max-width: 1000px;
  }

  .btn:focus {
    outline: none;
    box-shadow: none;
  }

  .thd {
    vertical-align: text-top;
  }

  .school-admin_module .form-check-inline {
    margin-right: 0px !important;
    font-weight: 600;
    width: 33.33%;
    padding: 5px;
    }

    // .column {
    //   float: left;
    //   width: 33.33%;
    //   padding: 10px;
    //   height: 300px; /* Should be removed. Only for demonstration */
    // }