<div class="container">
<div class="row">
    <div class="col-sm-12 col-xs-12 mb-5">

       <ul class="breadcrumb mt-3">
           <li><a href="#/dashboard">Dashboard</a></li>
           <li>Module List</li>
           <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i><strong (click)="goBack()"
             class="pointer">Go Back</strong>
         </ul>

       <div class="card card-primary card-outline p-3 mb-5 ">
        <div class="col-sm-12 col-xs-12 d-flex justify-content-end">
          <a type="button" (click)="FormDownload()" class="btn btn-info mt-1 pl-3 pr-3">Download</a>&nbsp;&nbsp;
          <a type="button"  (click)="openModel()" class="btn btn-warning mt-1 pl-3 pr-3">Add Module</a>
          </div>
        
          <div class="row pb-4">
        
            <div class="col-sm-3 col-xs-12">
              <div class="form-group">
                <h5>Panel Type</h5>
                           <select class="form-control" [(ngModel)]="PanelId">
                            <option value="">Select Panel</option>
                            <option *ngFor="let panel of panelData" value={{panel.id}}>{{panel.name}}</option>
                          </select>
              </div>
          </div>
        
            <div class="col-sm-3 col-xs-12 pt-4">
              <button type="button" class="btn btn-success mt-1 pl-3 pr-3" (click)="onSearch()">Search</button>
            </div>
          </div>





   <div class="row mt-2 pb-0 d-flex justify-content-center">
       <div class="col-sm-12 col-xs-12">
         <div class="card card-primary card-outline">
           <table class="table table-bordered">
               <thead>
                   <tr>
                       <th style="width:140px">S.No</th>                  
                       <th>Panel Type</th>
                       <th>Module Name</th>
                       <!-- <th>Child Module</th> -->
                       <th class="w-25">Action</th>
                   </tr>
               </thead>
               <tbody>
                <div *ngIf="moduleData.length > 0"></div>

                   <tr  *ngFor="let item of moduleData | paginate: {
                    itemsPerPage: pageSize,
                    currentPage: page,
                    totalItems: totalItems
                  }; let i=index;">
                       <td class="number text-center">{{pageSize *(page-1)+i+1}}</td>
                       <td  class=" text-center">{{item.module_type.name}}</td>
                       <td  class=" text-center">{{item.name}}</td>
                       <!-- <td><ul><li *ngFor="let item1 of item['child_modules']">{{item1.name}}</li></ul></td> -->
                       <td (click)="btnDelete_click(item.id)" class="action"><a title="Delete"><i class="fas fa-trash-alt"></i></a></td>
                   </tr>
                   <div class="pl-2 pt-2" *ngIf="moduleData.length == 0">
                    No record.
                  </div>
               </tbody>
           </table>
           <div class="d-flex justify-content-end"> 
            <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>  
       </div>
           <!-- <mat-paginator #paginator [length]="totalItems" [pageSize]="pageSize" [disabled]="totalItems<5"
                        [pageSizeOptions]="pageSizeOption" [showFirstLastButtons]="true" (page)="onChangePage($event)">
           </mat-paginator> -->
       </div>
       </div>
       
   </div>
</div>

      <ng-template #editModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Add New Module</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  

        <div class="modal-body">
          <form [formGroup]="moduleForm">
          <div class="row">
  
            <div class="col-sm-6 mt-0">
              <div class="form-group">
                <label>Panel Type<span class="asterisk">*</span></label>
                           <select class="form-control"  [(ngModel)]="pannel_type" formControlName="pannel_type">
                            <option value="">Select Panel</option>
                            <option *ngFor="let panel of panelData" value={{panel.id}}>{{panel.name}}</option>
                          </select>
                          <span class="text-danger" *ngIf="isFieldValid(moduleForm,'pannel_type')">Panel Type is
                            Required</span>
              </div>
            </div>
            
          <div class="col-sm-6 mt-0">
            <div class="form-group">
            <label>Module Name<span class="asterisk">*</span></label>
            <input type="text"  [(ngModel)]="name" class="form-control"
                placeholder="Enter Module Name" formControlName="name">
                <span class="text-danger" *ngIf="isFieldValid(moduleForm,'name')">Module Name is
                  Required</span>
            </div>
        </div>
  
            <div class="col-sm-12 d-flex justify-content-center mt-3 mb-2">
              <button type="button" data-dismiss="modal" (click)="addModel()"
                class="btn btn-success rounded-pill pl-5 pr-5 mr-2 mb-1 font-weight-bold">Save</button>
            </div>
  
          </div>
          </form>
        </div>
        </ng-template>