<div class="container">
  <div class="row">
    <div class="col-sm-12 col-xs-12 mb-5">

      <ul class="breadcrumb mt-3">
        <li><a href="#/dashboard">Dashboard</a></li>
        <li>School Management</li>
        <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i><strong (click)="goBack()"
          class="pointer">Go Back</strong>
      </ul>

      <div class="card card-primary card-outline p-3">
        <div class="col-sm-12 col-xs-12 d-flex justify-content-end">
          <a type="button" (click)="FormDownload()" class="btn btn-info mt-1 pl-3 pr-3">Download</a>&nbsp;&nbsp;
          <a type="button" (click)="addSchool()" class="btn btn-warning mt-1 pl-3 pr-3">Add School</a>

        </div>

        <div class="row pb-4">

          <div class="col-sm-3 col-xs-12">
            <div class="form-group">
              <h5>School Name</h5>
              <select class="form-control" [(ngModel)]="schoolname">
                <option value="" disabled>Select School</option>
                <option *ngFor="let school of SchoolListDropdown" value={{school.school_name}}>{{school.school_name}}
                </option>
              </select>
            </div>
          </div>

          <div class="col-sm-3 col-xs-12 pt-4">
            <button type="button" class="btn btn-success mt-1 pl-3 pr-3" (click)="onSearch()">Search</button>
          </div>
        </div>

        <div class="row mt-2 pb-1 d-flex justify-content-center">
          <div class="col-sm-12 col-xs-12">
            <div class="card card-primary card-outline">
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th style="width:60px">S.No</th>

                    <th>School Name</th>
                    <th>Address</th>
                    <th>Date of Reg.</th>
                    <th>Package</th>
                    <th>Status</th>
                    <th style="width:160px">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <div *ngIf="SchoolList > 0"></div>

                  <tr *ngFor="let item of SchoolList | paginate: {itemsPerPage: pageSize,
                    currentPage: page,
                    totalItems: totalItems}; let i=index"
                    style="text-align:center">
                    <td class="number">{{pageSize *(page-1)+i+1.}}</td>
                    <td>{{item.school_name}}</td>
                    <td>{{item.address1}}</td>
                    <td>{{item.doj | date: 'dd/MM/y'}}</td>
                    <td>{{item.package_name}}</td>
                    <td class="action">
                      <button *ngIf="item.is_active === true" type="button"
                        (click)="ActiveClick(item.id,item.is_active)" class="btn btn-success btn-sm pl-4 pr-4">Active
                      </button>
                      <button *ngIf="item.is_active !== true" type="button"
                      (click)="ActiveClick(item.id,item.is_active)"
                        class="btn btn-warning btn-sm pl-4 pr-4">InActive
                      </button>
                    </td>

                    <!-- <div class="col-sm-4">
                      <div class="form-group input-group mb-3">
                      <label class="w-100">Password<span class="asterisk">*</span></label>
                      <input type="password" [ngClass]="displayFieldCss(schoolForm,'password')" class="form-control" formControlName="password" placeholder="Enter Password" [(ngModel)]="password"
                      autocomplete="off" matInput placeholder="Password" name="password" [type]="fieldTextType ? 'text' : 'password'" #myMoodel>
                      <div class="input-group-append">
                          <span class="input-group-text" id="basic-addon2">
                            <i class="fa fa-eye" 
                            class="fa"
                            [ngClass]="{
                              'fa-eye-slash': !fieldTextType,
                              'fa-eye': fieldTextType
                            }"
                            (click)="toggleFieldTextType()">
                            </i></span>
                      </div>
                    </div>
                  </div> -->


                    <td>
                      <a title="Details" (click)='viewSchool(item.id)'><i class="fas fa-info-circle"></i></a>
                      <a title="GoTo SchoolAdmin" class="btn" (click)="loginForm(item.school_user_username,item.id)"><i class="fas fa-link"
                          style="font-size:18px;color:rgb(85, 118, 248)"></i></a>
                      <a title="Edit" class="mr-3" (click)='editSchool(item.id)'><i class="fas fa-pencil-alt"></i></a>
                      <a title="Delete"><i class="fas fa-trash-alt" (click)="delButtonClick(item.id)"></i></a>
                    </td>
                  </tr>
                  <div class="pl-2 pt-2" *ngIf="SchoolList == 0">
                    No record.
                  </div>
                </tbody>
              </table>
              <div class="d-flex justify-content-end">
                <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #editModal let-modal>

  <div class="modal-content">
    <div class="modal-header  pb-2 pt-2 mb-0">
      <h4 class="modal-title" id="modal-basic-title">School Details</h4>
      <div type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="false">&times;</span>
      </div>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12 col-xs-12 card card-primary card-outline">
          <h5 class="mt-3"> General Details </h5>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="w-25">School Name </th>
                <th class="w-25">Address </th>
                <th class="w-25">Pakage Name </th>
                <th class="w-25">Date of Registration </th>
              </tr>
            </thead>
            <tbody>
              <tr style="text-align:center">
                <td>{{singleSchoolData.school_name}}</td>
                <td>{{singleSchoolData.address1}}</td>
                <td>{{singleSchoolData.package_name}}</td>
                <td>{{singleSchoolData.doj | date: 'dd/MM/y'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-xs-12 card card-primary card-outline">
          <h5 class="mt-3"> Contact Person </h5>
          <table class="table table-bordered table-hover text-nowrap">
            <thead>
              <tr>
                <th>Name </th>
                <th>Phone </th>
                <th>Email </th>
              </tr>
            </thead>
            <tbody>
              <tr style="text-align:center">
                <td>{{singleSchoolData.contact_person_name}}</td>
                <td>{{singleSchoolData.contact_person_phone}}</td>
                <td>{{singleSchoolData.contact_person_email}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-xs-12 card card-primary card-outline">
          <h5 class="mt-3"> Banking Details </h5>
          <table class="table table-bordered table-hover text-nowrap">
            <thead>
              <tr>
                <th>Account Holder Name </th>
                <th>Bank Name </th>
                <th>IFSC Code </th>
                <th>Account No. </th>
              </tr>
            </thead>
            <tbody>
              <tr style="text-align:center">
                <td>{{singleSchoolData.account_holder}}</td>
                <td>{{singleSchoolData.bank_name}}</td>
                <td>{{singleSchoolData.ifsc_code}}</td>
                <td>{{singleSchoolData.account_number}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-xs-12 card card-primary card-outline">
          <h5 class="mt-3"> Login Credentials </h5>
          <table class="table table-bordered table-hover text-nowrap">
            <thead>
              <tr>
                <th>Username </th>
                <th>Password </th>
              </tr>
            </thead>
            <tbody>
              <tr style="text-align:center">
                <td>{{singleSchoolData.school_user_username}}</td>
                <td>********</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-template>