<div class="container">
    <div class="row pb-4">
        <div class="col-sm-12 col-xs-12 mt-3">

            <ul class="breadcrumb">
                <li><a href="#/dashboard">Dashboard</a></li>
                <li>Holiday Management</li>
                <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i><strong (click)="goBack()"
                    class="pointer">Go Back</strong>
            </ul>
            <div class="col-sm-12 col-xs-12 d-flex justify-content-end">
                <a type="button" (click)="FormDownload()" class="btn btn-info mb-3 pl-3 pr-3 ">Download</a>
            </div>

            <div class="card card-primary card-outline p-3">


                <form [formGroup]="holidayForm">
                    <div class="row">
                        <div class="col-sm-6 mt-0">
                            <div class="form-group">
                                <label>Holiday Name:<span class="asterisk">*</span> </label>
                                <input type="text" onkeypress="return /[a-z A-Z]/i.test(event.key)"
                                    [ngClass]="displayFieldCss(holidayForm,'leavetype')"
                                    placeholder="Enter Holiday Name" class="form-control" formControlName="leavetype">
                                <span class="text-danger" *ngIf="isFieldValid(holidayForm,'leavetype')">Holiday Name is
                                    Required</span>
                            </div>
                        </div>

                        <div class="col-sm-6 mt-0">
                            <div class="form-group">
                                <label>Icon:</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile"
                                        (change)="selectFile($event,1)" />
                                    <label class="custom-file-label" for="customFile">{{filen}}</label>
                                </div>
                                <input type="hidden" formControlName="icon_image" />
                            </div>
                        </div>

                        <!-- <div class="col-sm-6 mt-0">
                        <div class="form-group">
                            <label for="file">Icon :</label>
                            <input type="file" class="form-control" [(ngModel)]="icon_image">
                        </div>
                    </div> -->
                    </div>

                    <div class="col-sm-12 d-flex justify-content-center mt-3 mb-2">
                        <button type="button" (click)="addDetails()"
                            class="btn btn-success rounded-pill pl-5 pr-5 mr-2 mb-1 font-weight-bold">Save</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-sm-12 col-xs-12 mb-5">
            <div class="card card-primary card-outline">
                <table class="table table-bordered  text-center">
                    <thead>
                        <tr>
                            <th style="width: 5%">S.No.</th>
                            <th>Holiday Name</th>
                            <th>Icon</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div *ngIf="HolidayList.length > 0"></div>

                        <tr *ngFor="let list of HolidayList | paginate: {
                            itemsPerPage: pageSize,
                            currentPage: page,
                            totalItems: totalItems
                          }; let i=index;"
                            style="text-align:center">
                            <td class="number">{{pageSize *(page-1)+i+1}}</td>
                            <td>{{list.leave_type}}</td>
                            <!-- <td> <img src="{{urlCode}}{{list.icon_image_url}}" *ngIf="list.icon_image != null" width="25" onerror="this.onerror=null;this.src='../../../../assets/img/holiday.png';" ></td> -->

                            <td> <img [src]="'https://kidboodle.com/api/media/'+ list.icon_image_url"
                                    *ngIf="list.icon_image != null" width="25"
                                    onerror="this.onerror=null;this.src='../../../../assets/img/holiday.png'"></td>
                            <td width="10%" class="action">
                                <!-- <a title="Edit" class="mr-3" (click)="openModel(list.id)"><i
                                        class="fas fa-pencil-alt"></i></a> -->
                                <a title="Delete" (click)="onDelete(list.id)" class="action"><i
                                        class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        <div class="pl-2 pt-2" *ngIf="HolidayList.length == 0">
                            No record.
                          </div>
                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
                </div>

                <!-- <mat-paginator #paginator [length]="totalItems" [pageSize]="pageSize" [disabled]="totalItems<5"
                [pageSizeOptions]="pageSizeOption" [showFirstLastButtons]="true" (page)="onChangePage($event)">
              </mat-paginator> -->
            </div>
        </div>
    </div>
</div>


<ng-template #editModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit Holiday List</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    <div class="modal-body">
        <div class="row">

            <div class="col-sm-6 mt-0">
                <div class="form-group">
                    <label>Holiday Name :</label>
                    <input type="text" placeholder="Enter Holiday Name" class="form-control"
                        [(ngModel)]="leavetype">
                </div>
            </div>

            <div class="col-sm-6 mt-0">
                <div class="form-group">
                    <label>Icon :</label>
                    <input type="file" name="avatar" class="form-control" [(ngModel)]="icon_image">
                </div>
            </div>

            <div class="col-sm-12 d-flex justify-content-center mt-3 mb-2">
                <button type="button" 
                    class="btn btn-success rounded-pill pl-5 pr-5 mr-2 mb-1 font-weight-bold">Update</button>
            </div>

        </div>
    </div>
</ng-template>