<div class="login-box offset-4 offset-4 mb-0" style="margin-top: 87px;">
  <!-- /.login-logo -->

  <div class="card mt-4">
    <div class="card-body login-card-body pb-5 rounded pl-4 pr-4">
      <div class="login-icon"><a><img src="../../../assets/img/logo-icon.png" alt="Kidboodle"></a></div>

      <p class="login-box-msg">Enter the following details.</p>

      <form method="post">
        <div class="input-group mb-3">
          <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div>
          <p style="text-align: center;">OR</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="mobile" placeholder="Mobile No." [(ngModel)]="mobile">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-phone"></span>
              </div>
            </div>
          </div>
        </div><br>
        <div class="row ">
          <div class="d-flex justify-content-center w-100">
            <button (click)="requestNewPass()"
              class="btn btn-success rounded-pill pl-4 pr-4 mr-2 mb-1 font-weight-bold">Request New Password</button>
          <!-- </div>
          <div class="d-flex justify-content-center w-100 mt-2"> -->
            <a [routerLink]="['login']"
              class="btn btn-success rounded-pill pl-4 pr-4 mr-2 mb-1 text-white font-weight-bold">Login</a>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- The Modal -->

<!-- <div class="modal" id="myModal">
  <div class="modal-dialog">
      <div class="modal-content"> -->

<!-- Modal Header -->

<ng-template #editModal let-modal>
  <div *ngIf="!isOtpCorrect">
    <div class="modal-header">
      <h4 class="modal-title">Request New Password</h4>
      <button type="button" class="close" data-dismiss="modal" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
      <form action="" class="pl-3 pr-3 pb-4 pt-3">
        <div *ngIf="isOtp" class="form-group alert alert-success mt-3" role="alert">
          <h4 class="alert-heading">Success</h4>
          <p>{{isOtpMsg}}</p>
        </div>
        <div class="form-group" *ngIf="!isMobileOtp">
        <label for="otp">Email OTP:</label>
        <input type="text" class="form-control" name="emailotp" placeholder="Enter OTP" [(ngModel)]="emailotp">
    </div>

    <div class="form-group" *ngIf="isMobileOtp">
      <label for="otp">Mobile OTP:</label>
      <input type="text" class="form-control" name="mobileotp" placeholder="Enter OTP" [(ngModel)]="mobileotp">
    </div>

    <button type="submit" class="btn btn-success rounded-pill pl-4 pr-4 mt-3 font-weight-bold"
      (click)="otpSubmit()">Submit</button>
    </form>
  </div>
  </div>
</ng-template>

<ng-template #myModal let-modal>

  <div class="modal-header">
    <h4 class="modal-title">Enter New Password</h4>
    <button type="button" class="close" data-dismiss="modal" (click)="modal.dismiss()">&times;</button>
  </div>


  <div class="modal-body">
    <form class="pl-3 pr-3 pb-4 pt-3">
      <div class="form-group">
        <label for="User Name">User Name:</label>
        <input type="text" class="form-control" placeholder="Enter UserName" name="userName"
          [(ngModel)]="userName">
      </div>
      <div class="form-group">
        <label for="new password">New Password:</label>
        <input type="password" class="form-control" placeholder="Enter new password" name="new_password"
          [(ngModel)]="new_password">
      </div>

      <div class="form-group">
        <label for="confirm password">Confirm Password:</label>
        <input type="password" class="form-control" placeholder="Enter confirm password" name="confirm_password"
          [(ngModel)]="confirm_password">
      </div>

      <button type="button" class="btn btn-success rounded-pill pl-4 pr-4 mt-3 font-weight-bold" (click)="btnChnagepassword_click()">Submit</button>


    </form>
  </div>

</ng-template>


<!-- </div>
  </div>
</div> -->