<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
     
      <mat-icon class="type-icon" [attr.aria-label]="node.type + 'icon'">
        {{ node.type === 'file' ? 'description' : 'folder' }}
      </mat-icon>
      {{node.name}} <button mat-icon-button disabled></button>
    </mat-tree-node>
  
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
     
      <mat-icon class="type-icon" [attr.aria-label]="node.type + 'icon'">
        {{ node.type ==='file' ? 'description' : 'folder' }}
      </mat-icon>
      {{node.name}} <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
    </mat-tree-node>
  </mat-tree>
  