<div class="container">
    <div class="row pb-4">
    <div class="col-sm-12 col-xs-12">
            <ul class="breadcrumb">
              <li><a href="#/dashboard">Dashboard</a></li>
              <li>View School Details</li>
            
              <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i><strong (click)="goBack()"
                class="pointer">Go Back</strong>
            </ul>

            <div class="card card-primary card-outline p-3">
                <div class="col-sm-12 col-xs-12 d-flex justify-content-end">
                  <a type="button"  (click)="addSchoolDetails()" class="btn btn-warning mt-1 pl-3 pr-3">School Mngt. List</a>
                </div>

            <div class="bg-white shadow-sm rounded p-5 mb-3">
              <div class="row">
                <div class="clearfix w-100 mb-4">
                  <h5 class="pb-2 pl-3 text-white pt-2">School Details</h5>
                </div>

                  
                <div class="col-sm-10 col-xs-12" >
                  <div>
                    <!-- <div class="prouser mr-2 justify-start"></div> -->

                  <h6 class="mb-2"><span class="font-weight-bold">School Name : </span> -  </h6>
                  <h6 class="mb-2"><span class="font-weight-bold">Address : </span> - {{SchoolList.address1}} </h6>
                  <h6 class="mb-2"><span class="font-weight-bold">Package Name : </span> -  </h6>
                  <h6 class="mb-2"><span class="font-weight-bold">Date of Registration : </span> - {{SchoolList.doj}} </h6>


                    <!-- <tr *ngFor="let item of SchoolList">
                        <th>
                            <h6 class="mb-3"><span class="font-weight-bold">School Name :</span></h6>
                        </th>

                        <td>
                            {{item.school_name}}
                        </td>
                    </tr> -->
                </div>
              </div>
              </div>
            </div>
            <div class="bg-white shadow-sm rounded p-5 mb-3">
              <div class="row">
                <div class="clearfix w-100 mb-4">
                  <h5 class="pb-2 pl-3 text-white pt-2">Contact Person</h5>
                </div>
                <div class="col-sm-10 col-xs-12">
                  <div class="clearfix w-100 mb-4">
                    <div>

                    <h6 class="mb-2"><span class="font-weight-bold">Name : </span> - </h6>
                    <h6 class="mb-2"><span class="font-weight-bold">Phone : </span> - </h6>
                    <h6 class="mb-2"><span class="font-weight-bold">Email : </span> - </h6>
                  </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="bg-white shadow-sm rounded p-5 mb-3">
              <div class="row">
                <div class="clearfix w-100 mb-4">
                  <h5 class="pb-2 pl-3 text-white pt-2">Banking Details</h5>
                </div>
                <div class="col-sm-10 col-xs-12">
                  <div class="clearfix w-100 mb-4">
                    <div>
                      
                  <h6 class="mb-2"><span class="font-weight-bold">Account Holder Details : </span> -  </h6>
                  <h6 class="mb-2"><span class="font-weight-bold">Bank Name : </span> -  </h6>
                  <h6 class="mb-2"><span class="font-weight-bold">IFSC Code : </span> -  </h6>
                  <h6 class="mb-2"><span class="font-weight-bold">Account No. : </span> -  </h6>
                </div>
                  </div>
              </div>
            </div>
            </div>
            
            <div class="bg-white shadow-sm rounded p-5 mb-3">
              <div class="row">
                <div class="clearfix w-100 mb-4">
                  <h5 class="pb-2 pl-3 text-white pt-2">Login Credentials </h5>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <div class="clearfix w-100 mb-4">
                      <div>

                      <h6 class="mb-2"><span class="font-weight-bold">Username </span> - </h6>
                      <h6 class="mb-2"><span class="font-weight-bold">Password </span> - </h6>
                    </div>
                  </div>
                </div>
                </div>
              </div>
  
          </div>
        </div>
      </div>
  