<aside class="main-sidebar sidebar-dark-primary elevation-4" *ngIf="showHeader" id="mySidepanel">
  <div class="brand-link">
    <img src="../assets/img/logo.png" alt="Kidboodle" class="brand-image" style="opacity: 1">
    <span class="brand-text">&nbsp;</span>
    <a href="javascript:void(0)" class="closebtn border-bottom-0" onclick="closeNav()"><i style="font-size:20px" class="fa">&#xf00d;</i>
    </a>

  </div>

  <div class="sidebar">
    
  </div>

  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" (click)="closesidebar()">
      <li class="nav-item ">
        <a [routerLink]="['/dashboard']" [routerLinkActive]="['active']" class="nav-link">
          <i class="fas fa-cogs mr-2"></i>
          <p>Dashboard</p>
        </a>
          <li class="nav-item nav-close">
            <a [routerLink]="['/holidaymanagement']" [routerLinkActive]="['active']" class="nav-link submenu">
              <i class="fa fa-sitemap mr-2" aria-hidden="true"></i>
              <p>Holiday Management</p>
            </a>
          </li>
          <li class="nav-item nav-close">
            <a [routerLink]="['/modulemanagement']" [routerLinkActive]="['active']"  class="nav-link submenu">
              <i class="fa fa-sitemap mr-2" aria-hidden="true"></i>
              <p>Module Management</p>
            </a>
          </li>
          <li class="nav-item nav-close">
            <a [routerLink]="['/packagemanagement']" [routerLinkActive]="['active']"  class="nav-link submenu">
              <i class="fa fa-sitemap mr-2" aria-hidden="true"></i>
              <p>Package Management</p>
            </a>
          </li>
          <li class="nav-item nav-close">
            <a [routerLink]="['/schoolmanagement']" [routerLinkActive]="['active']"  class="nav-link submenu">
              <i class="fa fa-sitemap mr-2" aria-hidden="true"></i>
              <p>School Management</p>
            </a>
          </li>
        </ul>      
        
  </nav>
  </aside>