<nav *ngIf="showHeader == true;" class="main-header navbar navbar-expand-md navbar-light navbar-white">
    
  <div class="container">
  
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="" role="button" (click)="openNav()"><i class="fas fa-bars text-dark fa-lg mr-2 openbtn"  ></i></a>
        </li>
      </ul>
  
      <a  class="navbar-brand">
        <img src="../assets/img/logo.png" alt="Kidboodle" class="brand-image  ">
      </a>
  
  
      <div class="navbar-collapse order-3" id="navbarCollapse">
        <!-- Left navbar links -->
       
        <a class="school_logo">
          <!-- <img src="../assets/img/school_logo.png" title="" alt=""> -->
          <h4 class="font-weight-bold mt-2"> </h4>
        </a>
  
        
      </div>
  
      <!-- Right navbar links -->
      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
  
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown">
             <div class="userimg mr-2"><img src="../assets/img/superadmin.jpg" class="img-responsive" title=""></div> My Account
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <!-- <a (click)='menu_click("My Profile")' class="dropdown-item"> My Profile </a> -->
            <!-- <div class="dropdown-divider"></div> -->
            <a (click)='openModel()' class="dropdown-item">Change Password</a>
            <div class="dropdown-divider"></div>
            <a (click)='menu_click("Sign Out")' class="dropdown-item">Sign Out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <ng-template #editModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Change Password</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form action="" class="pl-3 pr-3 pb-4 pt-3">
            <!-- <div class="form-group">
                <label for="pwd">Old Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter old password"
                    [(ngModel)]="userData.oldpassword" name="oldpassword">
            </div> -->

            <div class="form-group">
                <label for="pwd">New Password: <span class="asterisk">*</span></label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter new password"
                    [(ngModel)]="userData.newpassword" name="newpassword">
            </div>

            <div class="form-group">
                <label for="pwd">Confirm Password: <span class="asterisk">*</span></label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter confirm password"
                    [(ngModel)]="userData.newpasswordcopy" name="cnfpassword">
            </div>
            <div class='error'
                *ngIf="(userData.newpasswordcopy!=userData.newpassword) && (userData.newpassword!='' && userData.newpasswordcopy!='')">
                New password and Confirm password Should be Same</div>
            <button type="submit" (click)="changePaswd()" class="btn btn-success rounded-pill pl-4 pr-4 mt-3 font-weight-bold">Submit</button>
        </form>
    </div>
</ng-template>
