<div class="container">
    <div class="row pt-5 d-flex justify-content-center">

      <div class="col-sm-3 col-xs-12" (click)="totalpackage()">
        <div class="small-box-new btn">
          <div class="row">
            <div class="col-sm-12 col-xs-12 d-flex justify-content-center">
              <div class="inner-img">
                <img src="https://classsetu.shyamfuture.in/assets/front/img/icon8.png">
              </div>
            </div>
            <div class="col-sm-12 col-xs-12 d-flex justify-content-center">
              <div class="inner-text">
                <h3>Total Packages <span class="badge-top">{{packagecount}}</span></h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-xs-12" (click)="totalSchool()">
        <div class="small-box-new btn">
          <div class="row">
            <div class="col-sm-12 col-xs-12 d-flex justify-content-center">
              <div class="inner-img">
                <img src="../../../assets/img/school_icon.png">
              </div>
            </div>
            <div class="col-sm-12 col-xs-12 d-flex justify-content-center">
              <div class="inner-text">
                <h3>Total Schools <span class="badge-top">{{schoolcount}}</span></h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-xs-12">
        <div class="small-box-new">
          <div class="row">
            <div class="col-sm-12 col-xs-12 d-flex justify-content-center">
              <div class="inner-img">
                <img src="../../../assets/img/teachers.png">
              </div>
            </div>
            <div class="col-sm-12 col-xs-12 d-flex justify-content-center">
              <div class="inner-text">
                <h3>Total Teachers <span class="badge-top">{{totalTeacher}}</span></h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-xs-12">
        <div class="small-box-new">
          <div class="row">
            <div class="col-sm-12 col-xs-12 d-flex justify-content-center">
              <div class="inner-img">
                <img src="../../../assets/img/students.png">
              </div>
            </div>
            <div class="col-sm-12 col-xs-12 d-flex justify-content-center">
              <div class="inner-text" >
                <h3>Total Students <span class="badge-top">{{totalStudents}}</span></h3>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>      
</div>