.small-box-new{
    background-image: linear-gradient(#fafaff, #a3aaff);
    border: #f1f1f1 1px solid;
    border-radius: 14px;
    padding: 12px 9px;
    min-height: 200px;
    margin-bottom: 25px;
    box-shadow: 0px -1px 6px 1px rgba(219, 218, 218, 0.89);
    }

.small-box-new .inner-img {
        width: 102px;
        height: 102px;
        margin: 12px 12px;
        border-radius: 50%;
        text-align: center;
        padding: 22px;
        border: #6689ae 1px solid;
    }
    
.small-box-new .inner-img img {
	width: 85%;
	text-align: center;
	padding-top: 0px;
}

.small-box-new .inner-text h3{
    color: #324459;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    }
    
    
.small-box-new:hover .inner-text h3 {
	color: #ee5524;
} 
    
    
.small-box-new:hover .inner-img {
       border: #099f38 1px solid;
background: #ffbc26;
    }    
    
    
 .small-box-new:hover {
	background-image: linear-gradient(#a3aaff, #fafaff);
	border: #bcc8d7 1px solid;
	border-radius: 14px;
	padding: 12px 9px;
	min-height: 200px;
	margin-bottom: 25px;
	box-shadow: 0px -1px 6px 1px rgba(219, 218, 218, 0.89);
} 
.badge-top{     
    position: absolute;
    right: 21px;
    top: -33px;
    background: #f7ef11;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50px;
    font-size: 13px;
  }
  
  .btn:focus {
  outline: none;
  box-shadow: none;
}