
<!-- <app-header></app-header> -->
<!-- <app-header *ngIf="showFiller"></app-header> -->

<app-sidebar></app-sidebar>

<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->

<app-schoolmenu></app-schoolmenu>
