<!-- General -->
<div class="container">
  <div class="row mt-4">

    <div class="col-sm-12 col-xs-12 mb-5">

      <ul class="breadcrumb">
        <li><a href="#/dashboard">Dashboard</a></li>
        <li><a href="#/packagemanagement">Package Management</a></li>
        <li>Add Package</li>
        <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i><strong (click)="goBack()"
          class="pointer">Go Back</strong>
      </ul>

      <div class="card card-primary card-outline p-3">
        <form role="form" [formGroup]="packageForm">
          <div class="row">

            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <h6>Package Name :<span class="asterisk">*</span></h6>
                <input type="text" onkeypress="return /[a-z A-Z]/i.test(event.key)"
                  [ngClass]="displayFieldCss(packageForm,'name')" placeholder="Enter Package Name" class="form-control"
                  formControlName="name">
                <span class="text-danger" *ngIf="isFieldValid(packageForm,'name')">Package Name is Required</span>
              </div>
            </div>

            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <h6>License keys :<span class="asterisk">*</span> </h6>
                <input type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" min="1"
                  placeholder="Enter License Key" [ngClass]="displayFieldCss(packageForm,'license_key')"
                  class="form-control" formControlName="license_key">
                <span class="text-danger" *ngIf="isFieldValid(packageForm,'license_key')">License Key is Required</span>
              </div>
            </div>

            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <h6>Price :<span class="asterisk">*</span> </h6>
                <input type="number" onkeypress="return event.charCode >= 46 && event.charCode <= 57"
                  placeholder="Enter Price" [ngClass]="displayFieldCss(packageForm,'price')" min="1"
                  class="form-control" formControlName="price">
                <span class="text-danger" *ngIf="isFieldValid(packageForm,'price')">Price is Required</span>
              </div>
            </div>

            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <h6>Duration (In Month) :<span class="asterisk">*</span> </h6>
                <input type="number" onkeypress="return event.charCode >= 47 && event.charCode <= 57" min="1" max="99"
                  [ngClass]="displayFieldCss(packageForm,'duration_in_month')" placeholder="Enter Total Month"
                  class="form-control" formControlName="duration_in_month">
                <span class="text-danger" *ngIf="isFieldValid(packageForm,'duration_in_month')">Duration is
                  Required</span>
              </div>
            </div>

            <div class="col-sm-12 mt-0 ">
              <h5 class="font-weight-bold border-bottom pb-2 mb-3"></h5>
            </div>


            <div class="col-sm-12 mt-0">
              <div class="form-group">
                <h5 class="w-100 mb-3"><b>School Admin Panel: </b><span class="asterisk">*</span></h5>
                <hr>

                <div class="row pl-3 pr-3 school-admin_module">

                  <div class="form-check-inline col-sm-3 col-xs-12 mb-1" *ngFor="let module of SchoolAdminData">
                    <label class="form-check-label mr-3">
                      <input type="checkbox" name="selected" formControlName="module" class="form-check-input"
                        [value]="module.id" (change)="module_insert(module.id)">{{module.name}}
                    </label>&nbsp;&nbsp;

                  </div>
                </div>
              </div>
              <span class="text-danger" *ngIf="isFieldValid(packageForm,'module')">Module is Required</span>

            </div>


            <div class="col-sm-12 mt-0">
              <div class="form-group"><hr>
                <h5 class="w-100 mb-3"><b>Student Panel: </b><span class="asterisk">*</span></h5>
                <hr>
                <div class="row pl-3 pr-3 school-admin_module">

                <div class="form-check-inline col-sm-3 col-xs-12 mb-1" *ngFor="let module of StudentModuleData">
                  <label class="form-check-label mr-3">
                    <input type="checkbox" name="selected" formControlName="module" class="form-check-input"
                      [value]="module.id" (change)="module_insert(module.id)">{{module.name}}
                  </label>&nbsp;&nbsp;

                </div>
            </div>
            </div>
            <span class="text-danger" *ngIf="isFieldValid(packageForm,'module')">Module is Required</span>
            </div>


            <div class="col-sm-12 mt-0">
              <div class="form-group"><hr>
                <h5 class="w-100 mb-3"><b>Teacher Panel: </b><span class="asterisk">*</span></h5>
                <hr>
                <div class="row pl-3 pr-3 school-admin_module">
                <div class="form-check-inline col-sm-3 col-xs-12 mb-1" *ngFor="let module of TeacherModuleData">
                  <label class="form-check-label mr-3">
                    <input type="checkbox" name="selected" formControlName="module" class="form-check-input"
                      [value]="module.id" (change)="module_insert(module.id)">{{module.name}}
                  </label>&nbsp;&nbsp;

                </div>
            </div>
            </div>
            <span class="text-danger" *ngIf="isFieldValid(packageForm,'module')">Module is Required</span>
            </div>


            <div class="col-sm-12 d-flex justify-content-center mt-3 ">
              <button type="button" (click)="btnSave_click();"
                class="btn btn-success rounded-pill pl-5 pr-5 mr-2   font-weight-bold">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>