<div class="container">
  <div class="row pb-4">
    <div class="col-sm-12 col-xs-12 mb-5">

      <ul class="breadcrumb mt-3">
        <li><a href="#/dashboard">Dashboard</a></li>
        <li>Add School Details</li>
        <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i><strong (click)="goBack()"
          class="pointer">Go Back</strong>
      </ul>



      <div class="card card-primary card-outline p-3">
        <div class="col-sm-12 col-xs-12 d-flex justify-content-end">
          <a type="button" (click)="addSchoolDetails()" class="btn btn-warning mt-1 pl-3 pr-3">School Management
            List</a>
        </div>
        <form [formGroup]="schoolForm">
          <div class="row">
            <div class="col-sm-12 mt-0 mb-0">
              <h5 class="font-weight-bold border-bottom pb-2">School Details</h5>
            </div>
          </div>



          <div class="row">
            <div class="col-sm-4">
              <!-- text input -->
              <div class="form-group">
                <label>School Name<span class="asterisk">*</span></label>
                <input type="text" onkeypress="return /[a-z A-Z]/i.test(event.key)"
                  [ngClass]="displayFieldCss(schoolForm,'schoolname')" class="form-control" formControlName="schoolname"
                  placeholder="Enter School Name" [(ngModel)]="schoolname">
                <span class="text-danger" *ngIf="isFieldValid(schoolForm,'schoolname')"> School Name is Required</span>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label>Address<span class="asterisk">*</span></label>
                <input type="text" onkeypress="return /[a-z A-Z]/i.test(event.key)"
                  [ngClass]="displayFieldCss(schoolForm,'address1')" class="form-control" formControlName="address1"
                  placeholder="Enter Address" [(ngModel)]="address1">
                <span class="text-danger" *ngIf="isFieldValid(schoolForm,'address1')"> Address is Required</span>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label>Date of Registration<span class="asterisk">*</span></label>
                <input type="date" [ngClass]="displayFieldCss(schoolForm,'doj')" class="form-control"
                  formControlName="doj" placeholder="Enter Date of Registration" [(ngModel)]="doj">
                <span class="text-danger" *ngIf="isFieldValid(schoolForm,'doj')"> Date of Reg. is Required</span>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label>Package Name<span class="asterisk">*</span></label>
                <select class="form-control" [ngClass]="displayFieldCss(schoolForm,'package')"
                  formControlName="package">

                  <option value=''>Select Package</option>
                  <option *ngFor="let panel of packageData" value={{panel.id}}>{{panel.name}}</option>
                </select>
                <span class="text-danger" *ngIf="isFieldValid(schoolForm,'package')"> Package Name is Required</span>
              </div>
            </div>
            <div class="col-sm-4 mt-0">
              <div class="form-group">
                <label>School Logo<span class="asterisk">*</span></label>
                <div class="custom-file">
                  <input type="file" [ngClass]="displayFieldCss(schoolForm,'school_logo')" class="custom-file-input"
                    id="customFile" (change)="selectFile($event)" />
                  <label class="custom-file-label" for="customFile">{{schoollogo}}</label>
                </div>
                <input type="hidden" formControlName="school_logo" />
                <span class="text-danger" *ngIf="isFieldValid(schoolForm,'school_logo')"> Logo is Required</span>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 mt-3 mb-0">
              <h5 class="font-weight-bold border-bottom pb-2">Contact Person</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Name<span class="asterisk">*</span></label>
                <input type="text" onkeypress="return /[a-z A-Z]/i.test(event.key)"
                  [ngClass]="displayFieldCss(schoolForm,'contact_person_name')" class="form-control"
                  formControlName="contact_person_name" placeholder="Enter Name" [(ngModel)]="contact_person_name">
                <span class="text-danger" *ngIf="isFieldValid(schoolForm,'contact_person_name')"> Name is
                  Required</span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Country Code<span class="asterisk">*</span></label>
                <select class="form-control" [ngClass]="displayFieldCss(schoolForm,'country_code')" formControlName="country_code">
                  <option value=''>Select Country Code</option>
                  <option data-countryCode="IN" value="91" Selected>India (+91)</option>
                  <optgroup label="Other countries">
                    <option data-countryCode="DZ" value="213">Algeria (+213)</option>
                    <option data-countryCode="AD" value="376">Andorra (+376)</option>
                    <option data-countryCode="AO" value="244">Angola (+244)</option>
                    <option data-countryCode="AI" value="1264">Anguilla (+1264)</option>
                    <option data-countryCode="AG" value="1268">Antigua &amp; Barbuda (+1268)</option>
                    <option data-countryCode="AR" value="54">Argentina (+54)</option>
                    <option data-countryCode="AM" value="374">Armenia (+374)</option>
                    <option data-countryCode="AW" value="297">Aruba (+297)</option>
                    <option data-countryCode="AU" value="61">Australia (+61)</option>
                    <option data-countryCode="AT" value="43">Austria (+43)</option>
                    <option data-countryCode="AZ" value="994">Azerbaijan (+994)</option>
                    <option data-countryCode="BS" value="1242">Bahamas (+1242)</option>
                    <option data-countryCode="BH" value="973">Bahrain (+973)</option>
                    <option data-countryCode="BD" value="880">Bangladesh (+880)</option>
                    <option data-countryCode="BB" value="1246">Barbados (+1246)</option>
                    <option data-countryCode="BY" value="375">Belarus (+375)</option>
                    <option data-countryCode="BE" value="32">Belgium (+32)</option>
                    <option data-countryCode="BZ" value="501">Belize (+501)</option>
                    <option data-countryCode="BJ" value="229">Benin (+229)</option>
                    <option data-countryCode="BM" value="1441">Bermuda (+1441)</option>
                    <option data-countryCode="BT" value="975">Bhutan (+975)</option>
                    <option data-countryCode="BO" value="591">Bolivia (+591)</option>
                    <option data-countryCode="BA" value="387">Bosnia Herzegovina (+387)</option>
                    <option data-countryCode="BW" value="267">Botswana (+267)</option>
                    <option data-countryCode="BR" value="55">Brazil (+55)</option>
                    <option data-countryCode="BN" value="673">Brunei (+673)</option>
                    <option data-countryCode="BG" value="359">Bulgaria (+359)</option>
                    <option data-countryCode="BF" value="226">Burkina Faso (+226)</option>
                    <option data-countryCode="BI" value="257">Burundi (+257)</option>
                    <option data-countryCode="KH" value="855">Cambodia (+855)</option>
                    <option data-countryCode="CM" value="237">Cameroon (+237)</option>
                    <option data-countryCode="CA" value="1">Canada (+1)</option>
                    <option data-countryCode="CV" value="238">Cape Verde Islands (+238)</option>
                    <option data-countryCode="KY" value="1345">Cayman Islands (+1345)</option>
                    <option data-countryCode="CF" value="236">Central African Republic (+236)</option>
                    <option data-countryCode="CL" value="56">Chile (+56)</option>
                    <option data-countryCode="CN" value="86">China (+86)</option>
                    <option data-countryCode="CO" value="57">Colombia (+57)</option>
                    <option data-countryCode="DK" value="45">Denmark (+45)</option>
                    <option data-countryCode="EG" value="20">Egypt (+20)</option>
                    <option data-countryCode="FJ" value="679">Fiji (+679)</option>
                    <option data-countryCode="FI" value="358">Finland (+358)</option>
                    <option data-countryCode="FR" value="33">France (+33)</option>
                    <option data-countryCode="GE" value="7880">Georgia (+7880)</option>
                    <option data-countryCode="DE" value="49">Germany (+49)</option>
                    <option data-countryCode="GR" value="30">Greece (+30)</option>
                    <option data-countryCode="GL" value="299">Greenland (+299)</option>
                    <option data-countryCode="HK" value="852">Hong Kong (+852)</option>
                    <option data-countryCode="HU" value="36">Hungary (+36)</option>
                    <option data-countryCode="IS" value="354">Iceland (+354)</option>
                    <option data-countryCode="IN" value="91">India (+91)</option>
                    <option data-countryCode="ID" value="62">Indonesia (+62)</option>
                    <option data-countryCode="IR" value="98">Iran (+98)</option>
                    <option data-countryCode="IQ" value="964">Iraq (+964)</option>
                    <option data-countryCode="IE" value="353">Ireland (+353)</option>
                    <option data-countryCode="IL" value="972">Israel (+972)</option>
                    <option data-countryCode="IT" value="39">Italy (+39)</option>
                    <option data-countryCode="JM" value="1876">Jamaica (+1876)</option>
                    <option data-countryCode="JP" value="81">Japan (+81)</option>
                    <option data-countryCode="JO" value="962">Jordan (+962)</option>
                    <option data-countryCode="KE" value="254">Kenya (+254)</option>
                    <option data-countryCode="KI" value="686">Kiribati (+686)</option>
                    <option data-countryCode="KP" value="850">Korea North (+850)</option>
                    <option data-countryCode="KR" value="82">Korea South (+82)</option>
                    <option data-countryCode="KW" value="965">Kuwait (+965)</option>
                    <option data-countryCode="KG" value="996">Kyrgyzstan (+996)</option>
                    <option data-countryCode="LA" value="856">Laos (+856)</option>
                    <option data-countryCode="LV" value="371">Latvia (+371)</option>
                    <option data-countryCode="LB" value="961">Lebanon (+961)</option>
                    <option data-countryCode="LS" value="266">Lesotho (+266)</option>
                    <option data-countryCode="LR" value="231">Liberia (+231)</option>
                    <option data-countryCode="LY" value="218">Libya (+218)</option>
                    <option data-countryCode="LI" value="417">Liechtenstein (+417)</option>
                    <option data-countryCode="LT" value="370">Lithuania (+370)</option>
                    <option data-countryCode="LU" value="352">Luxembourg (+352)</option>
                    <option data-countryCode="MO" value="853">Macao (+853)</option>
                    <option data-countryCode="MK" value="389">Macedonia (+389)</option>
                    <option data-countryCode="MG" value="261">Madagascar (+261)</option>
                    <option data-countryCode="MW" value="265">Malawi (+265)</option>
                    <option data-countryCode="MY" value="60">Malaysia (+60)</option>
                    <option data-countryCode="MV" value="960">Maldives (+960)</option>
                    <option data-countryCode="ML" value="223">Mali (+223)</option>
                    <option data-countryCode="MT" value="356">Malta (+356)</option>
                    <option data-countryCode="MH" value="692">Marshall Islands (+692)</option>
                    <option data-countryCode="MQ" value="596">Martinique (+596)</option>
                    <option data-countryCode="MR" value="222">Mauritania (+222)</option>
                    <option data-countryCode="YT" value="269">Mayotte (+269)</option>
                    <option data-countryCode="MX" value="52">Mexico (+52)</option>
                    <option data-countryCode="FM" value="691">Micronesia (+691)</option>
                    <option data-countryCode="MD" value="373">Moldova (+373)</option>
                    <option data-countryCode="MC" value="377">Monaco (+377)</option>
                    <option data-countryCode="MN" value="976">Mongolia (+976)</option>
                    <option data-countryCode="MS" value="1664">Montserrat (+1664)</option>
                    <option data-countryCode="MA" value="212">Morocco (+212)</option>
                    <option data-countryCode="MZ" value="258">Mozambique (+258)</option>
                    <option data-countryCode="MN" value="95">Myanmar (+95)</option>
                    <option data-countryCode="NA" value="264">Namibia (+264)</option>
                    <option data-countryCode="NR" value="674">Nauru (+674)</option>
                    <option data-countryCode="NP" value="977">Nepal (+977)</option>
                    <option data-countryCode="NL" value="31">Netherlands (+31)</option>
                    <option data-countryCode="NC" value="687">New Caledonia (+687)</option>
                    <option data-countryCode="NZ" value="64">New Zealand (+64)</option>
                    <option data-countryCode="NO" value="47">Norway (+47)</option>
                    <option data-countryCode="OM" value="968">Oman (+968)</option>
                    <option data-countryCode="PH" value="63">Philippines (+63)</option>
                    <option data-countryCode="PL" value="48">Poland (+48)</option>
                    <option data-countryCode="QA" value="974">Qatar (+974)</option>
                    <option data-countryCode="RE" value="262">Reunion (+262)</option>
                    <option data-countryCode="RO" value="40">Romania (+40)</option>
                    <option data-countryCode="RU" value="7">Russia (+7)</option>
                    <option data-countryCode="RW" value="250">Rwanda (+250)</option>
                    <option data-countryCode="SM" value="378">San Marino (+378)</option>
                    <option data-countryCode="ST" value="239">Sao Tome &amp; Principe (+239)</option>
                    <option data-countryCode="SA" value="966">Saudi Arabia (+966)</option>
                    <option data-countryCode="SN" value="221">Senegal (+221)</option>
                    <option data-countryCode="CS" value="381">Serbia (+381)</option>
                    <option data-countryCode="SC" value="248">Seychelles (+248)</option>
                    <option data-countryCode="SL" value="232">Sierra Leone (+232)</option>
                    <option data-countryCode="SG" value="65">Singapore (+65)</option>
                    <option data-countryCode="SK" value="421">Slovak Republic (+421)</option>
                    <option data-countryCode="SI" value="386">Slovenia (+386)</option>
                    <option data-countryCode="SB" value="677">Solomon Islands (+677)</option>
                    <option data-countryCode="SO" value="252">Somalia (+252)</option>
                    <option data-countryCode="ZA" value="27">South Africa (+27)</option>
                    <option data-countryCode="ES" value="34">Spain (+34)</option>
                    <option data-countryCode="LK" value="94">Sri Lanka (+94)</option>
                    <option data-countryCode="SH" value="290">St. Helena (+290)</option>
                    <option data-countryCode="KN" value="1869">St. Kitts (+1869)</option>
                    <option data-countryCode="SC" value="1758">St. Lucia (+1758)</option>
                    <option data-countryCode="SD" value="249">Sudan (+249)</option>
                    <option data-countryCode="SR" value="597">Suriname (+597)</option>
                    <option data-countryCode="SZ" value="268">Swaziland (+268)</option>
                    <option data-countryCode="SE" value="46">Sweden (+46)</option>
                    <option data-countryCode="CH" value="41">Switzerland (+41)</option>
                    <option data-countryCode="SI" value="963">Syria (+963)</option>
                    <option data-countryCode="TW" value="886">Taiwan (+886)</option>
                    <option data-countryCode="TJ" value="7">Tajikstan (+7)</option>
                    <option data-countryCode="TH" value="66">Thailand (+66)</option>
                    <option data-countryCode="TG" value="228">Togo (+228)</option>
                    <option data-countryCode="TO" value="676">Tonga (+676)</option>
                    <option data-countryCode="TT" value="1868">Trinidad &amp; Tobago (+1868)</option>
                    <option data-countryCode="TN" value="216">Tunisia (+216)</option>
                    <option data-countryCode="TR" value="90">Turkey (+90)</option>
                    <option data-countryCode="TM" value="7">Turkmenistan (+7)</option>
                    <option data-countryCode="TM" value="993">Turkmenistan (+993)</option>
                    <option data-countryCode="TC" value="1649">Turks &amp; Caicos Islands (+1649)</option>
                    <option data-countryCode="TV" value="688">Tuvalu (+688)</option>
                    <option data-countryCode="UG" value="256">Uganda (+256)</option>
                    <option data-countryCode="US" value="1">UK (+44)</option>

                    <!-- <option data-countryCode="GB" value="44">UK (+44)</option> -->
                    <option data-countryCode="UA" value="380">Ukraine (+380)</option>
                    <option data-countryCode="AE" value="971">United Arab Emirates (+971)</option>
                    <option data-countryCode="UY" value="598">Uruguay (+598)</option>
                    <!-- <option data-countryCode="US" value="1">USA (+1)</option> -->
                    <option data-countryCode="UZ" value="7">Uzbekistan (+7)</option>
                    <option data-countryCode="VU" value="678">Vanuatu (+678)</option>
                    <option data-countryCode="VA" value="379">Vatican City (+379)</option>
                    <option data-countryCode="VE" value="58">Venezuela (+58)</option>
                    <option data-countryCode="VN" value="84">Vietnam (+84)</option>
                    <option data-countryCode="VG" value="84">Virgin Islands - British (+1284)</option>
                    <option data-countryCode="VI" value="84">Virgin Islands - US (+1340)</option>
                    <option data-countryCode="WF" value="681">Wallis &amp; Futuna (+681)</option>
                    <option data-countryCode="YE" value="969">Yemen (North)(+969)</option>
                    <option data-countryCode="YE" value="967">Yemen (South)(+967)</option>
                    <option data-countryCode="ZM" value="260">Zambia (+260)</option>
                    <option data-countryCode="ZW" value="263">Zimbabwe (+263)</option>
                  </optgroup>
                </select>
                <span class="text-danger" *ngIf="isFieldValid(schoolForm,'country_code')">Country Code is
                  required.</span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Phone<span class="asterisk">*</span></label>
                <!-- <input type="text" ng2TelInput /> -->
                <input type="tel"  onpaste="return false"  onkeypress="return event.charCode >= 48 && event.charCode <= 57" min="1" minlength="4"
                  maxlength="15" [ngClass]="displayFieldCss(schoolForm,'contact_person_phone')" class="form-control"
                  formControlName="contact_person_phone" placeholder="Enter Phone" [(ngModel)]="contact_person_phone">
                <span class="text-danger" *ngIf="isFieldValid(schoolForm,'contact_person_phone')"> Phone No. is
                  Required</span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Email<span class="asterisk">*</span></label>
                <input type="email" [ngClass]="displayFieldCss(schoolForm,'contact_person_email')" class="form-control"
                  formControlName="contact_person_email" placeholder="Enter Email" [(ngModel)]="contact_person_email">
                <span class="text-danger" *ngIf="isFieldValid(schoolForm,'contact_person_email')"> Email is
                  Required</span>
              </div>
            </div>

          </div>


          <div class="row">
            <div class="col-sm-12 mt-3 mb-0">
              <h5 class="font-weight-bold border-bottom pb-2">Banking Details</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Account Holder Name<span class="asterisk">*</span></label>
                <input type="text" onkeypress="return /[a-z A-Z]/i.test(event.key)"
                  [ngClass]="displayFieldCss(schoolForm,'account_holder')" class="form-control"
                  formControlName="account_holder" placeholder="Enter Account Holder Name" [(ngModel)]="account_holder">
                <span class="text-danger" *ngIf="isFieldValid(schoolForm,'account_holder')"> Name is Required</span>
              </div>
            </div>

            <!-- <div class="col-sm-4">
              <div class="form-group">
                <label>Branch Name</label>
                <input type="text" class="form-control" AlphaOnly placeholder="Enter Branch Name" formControlName="branch_name"
                   onkeypress="return (event.charCode > 64 && 
                  event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)" >
              </div>
            </div> -->

            <div class="col-sm-4">
              <div class="form-group">
                <label>Bank Name<span class="asterisk">*</span></label>
                <input type="text" onkeypress="return /[a-z A-Z]/i.test(event.key)"
                  [ngClass]="displayFieldCss(schoolForm,'bank_name')" class="form-control" formControlName="bank_name"
                  placeholder="Enter Bank Name" [(ngModel)]="bank_name">
                <span class="text-danger" *ngIf="isFieldValid(schoolForm,'bank_name')"> Bank Name is Required</span>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label>IFSC Code<span class="asterisk">*</span></label>
                <input type="text" [ngClass]="displayFieldCss(schoolForm,'ifsc_code')" class="form-control"
                  formControlName="ifsc_code" placeholder="Enter ifsc Code" [(ngModel)]="ifsc_code">
                <span class="text-danger" *ngIf="isFieldValid(schoolForm,'ifsc_code')"> Ifsc Code is Required</span>

              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label>Account Number<span class="asterisk">*</span></label>
                <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                  [ngClass]="displayFieldCss(schoolForm,'account_number')" class="form-control"
                  formControlName="account_number" placeholder="Enter Account Number" [(ngModel)]="account_number">
                <span class="text-danger" *ngIf="isFieldValid(schoolForm,'account_number')"> Account Number is
                  Required</span>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 mt-3 mb-0">
              <h5 class="font-weight-bold border-bottom pb-2">Login Credentials</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>User Name<span class="asterisk">*</span></label>
                <input type="email" [ngClass]="displayFieldCss(schoolForm,'username')" class="form-control"
                  formControlName="username" placeholder="Enter Username" [(ngModel)]="username">
                <span class="text-danger" *ngIf="isFieldValid(schoolForm,'username')">Username is Required</span>

              </div>
            </div>

            <!-- <div class="col-sm-4">
              <div class="form-group">
                <label>Password<span class="asterisk">*</span></label>
                <input type="text" [ngClass]="displayFieldCss(schoolForm,'password')" class="form-control" formControlName="password" placeholder="Enter Password" [(ngModel)]="password">
                <span class="text-danger" *ngIf="isFieldValid(schoolForm,'password')"> Password is Required</span>

              </div>
            </div> -->
            <div class="col-sm-4">
              <div class="form-group input-group mb-3">
                <label class="w-100">Password<span class="asterisk">*</span></label>
                <input type="password" [ngClass]="displayFieldCss(schoolForm,'password')" class="form-control"
                  formControlName="password" placeholder="Enter Password" [(ngModel)]="password" autocomplete="off"
                  matInput placeholder="Password" name="password" [type]="fieldTextType ? 'text' : 'password'"
                  #myMoodel>

                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">
                    <i class="fa fa-eye" class="fa" [ngClass]="{
                      'fa-eye-slash': !fieldTextType,
                      'fa-eye': fieldTextType
                    }" (click)="toggleFieldTextType()">
                    </i></span>
                </div>
              </div>
              <span class="text-danger" *ngIf="isFieldValid(schoolForm,'password')"> Password is Required</span>
            </div>
          </div>


          <div class="col-sm-12 d-flex justify-content-center mt-3 mb-2">
            <button type="button" class="btn btn-success rounded-pill pl-5 pr-5 mr-2 mb-0 font-weight-bold"
              (click)="addDetails()">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>