.asterisk{ margin-top: -2px; color: red; font-size: 19px;}

// input[type="text"]{
//     width: 4em;
//     margin: .5em 0 0 0;
//     padding: .5em;
//   }
  
//   label{
//     display:block;
//   }