/* You can add global styles to this file, and also import other style files */
.nav-link {
    cursor: pointer;
  }
  .brand-link {
      min-height: 63px;
    }
  .content-header {
      padding: 12px .5rem  4px .5rem !important;
     }
    .content-header h1 {
      font-size: 24px !important;
      font-weight: 600 !important;
     }
    .content-header .breadcrumb {
      font-size: 14px;
    }
    .dropdown-menu-lg .dropdown-item {
      font-size: 14px;
     }
  .card-primary h5 {
    font-weight: 500 !important;
    font-size: 17px;
    }
  label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 400 !important;
    font-size: 14px !important; 
    }
  .form-control {
    font-size: 14px !important;
    }
    .main-footer {
      font-size: 13px;
  }
  
  .main-login {
      z-index: 1038;
    }
    .login-box .card {
        border-radius: 11px !important;
    }
  .login-card-body, .register-card-body {
      border-radius: 11px !important;
      background: #fffac8;
      }
  
    .mat-drawer-container {
      background-color: #fafafa00 !important;
  }
  .input-group-append {
      margin-left: -1px;
      margin-top: -1px;
      background: #ffc107;
  }
  .minheight {
      min-height: 320px !important;
      // min-height: 590px !important;
      
  }



  .main-sidebar, .main-sidebar::before {
      width: 227px;
  }
  .nav-pills .nav-link {
      font-size: 14px !important;
      padding: .5rem 8px !important;
      color: #090a0a;
  }
  .card-primary h6{
      font-size: 14px !important;
      }
  .table th {
          font-weight: 700 !important;
          font-size: 14px !important;
      }
  
      .table td {
        font-weight: 400 !important;
        font-size: 14px !important;
    }
    .modal-backdrop {
      width: 0px !important;
      }
  
  
      .msg-red{
        background-color: rgb(231, 99, 50) !important;
        opacity: .7;
        color: white;
      }
      .msg-blue{
        background-color: rgb(53, 196, 101) !important;
        opacity: .7;
        color: black;
        top: 40px;
        position: absolute;
        z-index: 9999;
        right: 12px;
        }
      .msg-normal{
        background-color: rgb(188, 202, 207) !important;
        opacity: .7;
        color: black;
      }
      .msg-worning{
        background-color: rgb(194, 132, 91) !important;
        opacity: .7;
        color: black;
      }
      .table thead th {
        text-align: center!important;
      }
      .table td, .table th {
        padding: .35rem;
        padding-left: .75rem;
         padding-right: .75rem;
        vertical-align: middle;
      }
      .form-control {
             height: calc(2.25rem + 0px);
        padding: .2rem .75rem;}
      .action{
        text-align: center;
        max-width: 10%;
      }
      .number{
        text-align: right;
        max-width: 10%;
      }
  .modal-medium{
    
  max-width: 60%!important;
  }
  .modal-full{
    
  max-width: 80%!important;
  }
  
      .table{
        margin-bottom: 0%;
          }
          .mat-paginator-container {
                  margin-bottom: -5px;
            margin-top: -8px;
          }
  
  
          ul.breadcrumb {
            padding: 10px 16px;
            list-style: none;
            background-color: #eee;
          }
          ul.breadcrumb li {
            display: inline;
            font-size: 18px;
          }
          ul.breadcrumb li + li:before {
            padding: 8px;
            color: black;
            content: "/\00a0";
          }
          ul.breadcrumb li a {
            color: #0275d8;
            text-decoration: none;
          }
          ul.breadcrumb li a:hover {
            color: #01447e;
            text-decoration: underline;
          }
          
          .back-btn{
            margin-left:auto;
            padding-right: 10px;
            font-size: 1.5em;
          }
          

          .msg-error{
            background-color: rgb(230, 65, 65)!important;
            opacity: .7;
            color: black;
            top: 40px;
            position: absolute;
            z-index: 9999;
            right: 12px;
          }
          .msg-success{
            background-color: rgb(107, 230, 107)!important;
            opacity: .7;
            color: black;
            top: 40px;
            position: absolute;
            z-index: 9999;
            right: 12px;
          }
          
    /* large desktop :1400px. */
  @media (min-width: 1400px) and (max-width: 2000px) {
    
  }
  
  
  /* desktop 1200px to 1600px */
  @media (min-width: 1200px) and (max-width: 1600px) {
  
      
  }
  
  
  
  /* Normal desktop :992px. */
  @media (min-width: 992px) and (max-width: 1199px) {
  .container {width:970px}
  
      
  }
  
  
  
  /* Tablet desktop :768px. */
  @media (min-width: 768px) and (max-width: 991px) {
  .container {width:100%;}
  
  .main-sidebar, .main-sidebar::before {  
    margin-left: 0px !important;
    }
  
  
  
  }
  
  
  
  /* small mobile :320px. */
  @media (max-width: 767px) {
  .container {width:100%;}
  .main-sidebar, .main-sidebar::before {  
    margin-left: 0px !important;
    }
  
  
  
  }
  
  
  
  /* Large Mobile :480px. */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
      .container {width:100%;}
      
      
  }
  .login-card-body
  .fa, .fas{
    font-weight: 900;
     // font-size: 10px;
  }
  
  /* Importing Bootstrap SCSS file. */
  @import '~bootstrap/scss/bootstrap';











  .main-footer {
    background: #ffffffa3 !important;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 52px;
}
  





  