  <mat-drawer-container class="example-container" [hasBackdrop]="false">
    <mat-drawer #drawer class="example-sidenav" mode="side"  >
      <app-sidebar [draw]="this.drawer"></app-sidebar>
     .........................................................
    </mat-drawer>
  
    <div class="example-sidenav-content" >
      
      <app-header *ngIf="showFiller"></app-header>
      <div class="content minheight">
        <div class="container">
      <router-outlet></router-outlet>
      </div>
      </div>
    </div>
    <app-footer></app-footer>
  </mat-drawer-container>
  