<div class="main-login">
  <div class="login-box offset-4 offset-4" style="margin-top: 77px; margin-bottom: 30px;">
    <!-- /.login-logo -->
    <form #loginForm='ngForm'>
      <div class="card mt-4">
        <div class="card-body login-card-body pb-5 pl-4 pr-4">
          <div class="login-icon"><a><img src="../../../assets/img/logo-icon.png" alt="Kidboodle"></a></div>
          <h3 class="login-box-msg">Sign in</h3>
          <div id='form' class="form-group">
            <div class="input-group mb-3">
              <input type="email" class="form-control" matInput placeholder="Email" name="username"
                [(ngModel)]="loginpage.username" #myModel>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" autocomplete="off" matInput placeholder="Password" name="password"
                [(ngModel)]="loginpage.password"  [type]="fieldTextType ? 'text' : 'password'" #myMoodel>
              <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">
                    <i class="fa fa-eye" 
                    class="fa"
                    [ngClass]="{
                      'fa-eye-slash': !fieldTextType,
                      'fa-eye': fieldTextType
                    }"
                    (click)="toggleFieldTextType()">
                    </i></span>
              </div>
            </div>

            <div class="row">
              <div class="col-8">
                <div class="icheck-primary">
                  <input type="checkbox" id="remember">
                  <label for="remember">
                    Remember Me
                  </label>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-4">
                <button id="btnLogin9" (click)="Login_click()" class="btn btn-warning btn-block">Sign In</button>
              </div>
              <!-- /.col -->
            </div>
          </div>
  
          <p class="mb-1 mt-2">
  
            <a (click)="goToForgotPassword_click()" routerLink="forgotpassword">Forgot Password?</a>
  
          </p>
        </div>
        <!-- /.login-card-body -->
      </div>
    </form>
  
  </div>
  </div>